@model Organisation

<div class="container">
    <div class="row">
        <h2>Organisation Detail</h2>
        <div class="col-md-4">
            
            <div class="col-md-3 col-lg-3 " align="center">
               
            </div>

        </div>
        <div class="col-md-8">
            <h2>@Model.Name</h2>
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.OrganisationId)</td>
                            <td>@Html.DisplayFor(model => model.OrganisationId)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Category)</td>
                            <td>@Html.DisplayFor(model => model.Category)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Address)</td>
                            <td>@Html.DisplayFor(model => model.Address)</td>
                        </tr>


                        <tr>
                            <td> @Html.DisplayNameFor(model => model.PhoneNumber)</td>
                            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Email)</td>
                            <td>@Html.DisplayFor(model => model.Email)</td>
                        </tr>


                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
